{ 
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off"
  },
  "parserOptions": {
    FecmaFeatures": { 
      "jsx": true
    }
  }
}
