.\[name__text--1s4bf {
  text-align: center;
  font-family: sans-serif;
}

:root {
  --primary-color: skyblue;
}

body {
  color: skyblue;
  color: var(--primary-color);
  font-size: 0.9rem;
}

.\[name__foo--3SK93 {
  color: white
}

.\[name__foo--3SK93 .\[name__bar--tQU3G {
    color: blue;
  }

